#projects {
    padding-top: 50px;
}
#image{
    padding-top: 100px;
}
#red_box{
  padding-top: 250px; 
  position: relative;
  left: 50%;
  top: 10%;
  max-width: 50%;
  
   
    
  

}
#since{
width: 9cm;
}
#en_alt{
    position: relative;
    left: 10%;
}#h{
    position: relative;
    bottom: 0cm;
}
#h1{
    position: relative;
    bottom: 0.7cm;
}#h2{
    position: relative;
    bottom: 1.4cm;
}#h3{
    position: relative;
    bottom: 2.1cm;
}


