#projects {
    padding-top: 50px;
}
#image{
    padding-top: 100px;
}
#red_box{
  padding-top: 250px; 
  position: relative;
  left: 50%;
  top: 10%;
  max-width: 50%;

}
#alt-tab{
    position: relative;
    bottom: 3.5cm;
    
}
#en_alt{

    width: 55%;
    position: relative;
    top: 2cm;
}
#since{
width: 9cm;
}


}

    
#h{
    position: relative;
    bottom: 0cm;
}
#h1{
    position: relative;
    bottom: 0.7cm;
}#h2{
    position: relative;
    bottom: 1.4cm;
}#h3{
    position: relative;
    bottom: 2.1cm;
}


